:root {
  --blue: linear-gradient(180deg, #a9c9ff 0%, #ffbbec 100%);

  --h7: 1.2rem;
}
.modal-window {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.25);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  /* &:target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto; */

  /* header {
    font-weight: bold;
  }
  h1 {
    font-size: 150%;
    margin: 0 0 15px;
  } */
}
.modal-window > div {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  background: white;
}
.modal-window:target {
  visibility: visible;
  opacity: 2;
  pointer-events: auto;
}
.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
  /* &:hover {
    color: black;
  } */
}

/* Demo Styles */

/* html,
body {
  height: 100%;
}

html {
  font-size: 18px;
  line-height: 1.4;
} */

/* body {
  font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: 600;
  background-image: linear-gradient(to right, #7f53ac 0, #657ced 100%);
  color: black;
}

a {
  color: inherit;
} */
*/ .container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* .modal-window {
  & > div {
    border-radius: 1rem;
  }
} */

.modal-window div:not(:last-of-type) {
  margin-bottom: 15px;
}

/* .btn {
  background-color: white;
  padding: 1em 1.5em;
  border-radius: 1rem;
  text-decoration: none;
  i {
    padding-right: 0.3em;
  }
} */

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: black;
  color: white;
}
.border-wrap {
  padding: 0.5rem;
  background: var(--blue);
  margin: 0.8rem;
  border-radius: 5px;
  box-shadow: 0 5px 9px 0 rgb(114, 114, 114);
}
.card-w {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 20rem;
  height: 30rem;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 9px 0 rgb(114, 114, 114);
}
.card-w > p {
  font-size: var(--h7);
  color: gray;
  margin-top: 1rem;
}
a.link-btn:link,
a.link-btn:visited {
  text-align: center;
  padding: 0.8rem 1rem;
  text-decoration: none;
  display: inline-block;
  background-image: var(--blue);
  color: white;
  font-size: var(--h7);
  border-radius: 5px;
  margin: 1rem;
}

a.link-btn:hover,
a.link-btn:active {
  box-shadow: 0 5px 9px 0 rgb(114, 114, 114);
}
